body{
    margin: 0;
    background-image: url(img/may_b.jpg);
}
h1 {
    text-align: center;
    background-color: red;
    margin: 0;
}
.wk_d.w {
    background-color: red;
}
.days {
    display: inline-block;
    width: 100px;
    text-align: center;
    font-size: 40px;
    margin: 3px;
    color: #ffffff;
    border: none;
    background-color: #000000;
}
.wk_d {
    display: inline-block;
    width: 100px;
    text-align: center;
    font-size: 40px;
    margin: 3px 2px;
    border: 1px solid white;
}
.weak_d {
    background-color: #000000;
    color: #ffffff;
}
.main {
    position: absolute;
    left: 25%;
    top: 25%;
}
.days.celeb {
    background-color: red;
    color: #ffffff;
    border: 0;
}
.m_l {
    color: #d2d2d294;
}

.month {
    text-align: center;
    background-color: #ff1b1b;
    color: #ffffff;
    border: 1px solid black;
}
.days.redd {
    color: #ff0000;
}
.days.m_l.redd {
    color: #ff00007d; 
}
.days.today {
    background-color: #00ff0a;
    color: black;
}

.bg {
    background-image: url(img/may_b.jpg);
}

