body {
    margin: 0;
}

.main {
    width: 1170px;
    position: relative;
    margin: 0 auto;
}

.chessdesk {
    width: 800px;
    opacity: 0.8;
}

.chesssize {
    height: 85px;
    position: absolute;
}

/**WHITE**/
.kingw {
    bottom: 50px;
    right: 645px;
    z-index: 2;
}

.kingw1 {
    bottom: 50px;
    right: 465px;
    opacity: 0.6;
    z-index: 1;
}

.queenw {
    bottom: 50px;
    right: 770px;
}

.pawnw1 {
    bottom: 140px;
    right: 1055px;
}

.pawnw2 {
    bottom: 140px;
    right: 970px;
}

.pawnw3 {
    bottom: 140px;
    right: 880px;
}

.pawnw4 {
    bottom: 320px;
    right: 790px;
}

.pawnw5 {
    bottom: 230px;
    right: 610px;

}

.pawnw6 {
    bottom: 140px;
    right: 610px;
}

.pawnw7 {
    bottom: 140px;
    right: 520px;

}

.pawnw8 {
    bottom: 140px;
    right: 430px;
}


.horsewr {
    bottom: 230px;
    right: 860px;
}

.horsewl {
    top: 310px;
    right: 683px;
}

.rookw1 {
    bottom: 50px;
    z-index: 1;
    right: 445px;
}

.rookw1_1 {
    bottom: 50px;
    right: 630px;
    z-index: 1;
    opacity: 0.5;
}


.rookw2 {
    bottom: 50px;
    right: 1050px;
}

.bishopw1 {
    bottom: 50px;
    right: 860px;
}

.bishopw2 {
    bottom: 140px;
}

/**BLACK**/
.kingb {
    top: 40px;
    right: 645px;
    z-index: 2;
}

.kingb1 {
    top: 40px;
    right: 460px;
    opacity: 0.6;
    z-index: 1;
}

.queenb {
    top: 40px;
    right: 770px;
}

.pawnb1 {
    top: 130px;
    right: 1055px;
}

.pawnb2 {
    top: 220px;
    right: 880px;
}

.pawnb3 {
    top: 130px;
    right: 880px;
}

.pawnb4 {
    top: 310px;
    right: 790px;
}

.pawnb5 {
    bottom: 50px;
    right: 300px;

}

.pawnb6 {
    top: 130px;
    right: 610px;
}

.pawnb7 {
    top: 130px;
    right: 520px;

}

.pawnb8 {
    top: 130px;
    right: 430px;
}


.horsebr {
    bottom: 320px;
    right: 680px;
}

.horsebl {
    top: 220px;
    right: 593px;
}

.rookb1 {
    top: 40px;
    right: 445px;
    z-index: 1;
}

.rookb1_1 {
    top: 40px;
    right: 630px;
    z-index: 1;
    opacity: 0.5;
}

.rookb2 {
    top: 40px;
    right: 1050px;
}

.bishopb1 {
    top: 130px;
    right: 770px;
}

.bishopb2 {
    top: 130px;
    right: 680px;
}

.circle {
    top: 310px;
    left: 400px;
}

.circle1 {
    bottom: 230px;
    left: 220px;
}

.kres {
    bottom: 320px;
    right: 685px;
}

.kres1 {
    top: 130px;
    right: 595px;
}

.kres2 {
    top: 130px;
    right: 775px;
}

.arrow {
    position: relative;
    right: 335px;
    bottom: 45px;
}

.arrow1 {
    right: 480px;
    top: 45px;
}
