.main {
    display: inline-block;
    padding: 1px;
    font-family: Arial, sans-serif;
    border: 1px solid black;
}

.table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 12px;
    width: 800px;
}

caption {
    font-weight: bold;
    padding: 5px;
}
thead {
    border: 2px solid #000;
}
tbody {
    border: 2px solid #000;
    border-bottom: 1px solid #000;
}

tfoot {
    border: 2px solid #000;
    border-top: 1px solid #000;
}

.emptytd{
    border-right: 2px solid #000;
}

td {
    border: 1px solid #000;
    padding: 5px;
    padding-top: 2px;
}

td.border.thbo {
    vertical-align: top;
}

.total {
    vertical-align: bottom;
    text-align: center;
    width: 55px;
}

.dir {
    text-align: center;
}

.top {
    vertical-align: top;
}

.border {
    border:0;
}

.border-top {
    border-top: 1px solid;
}
.border-top .wtr{
    width: 110px;
}
.border-top .wtr1 {
    width: 145px;
}
.right {
    text-align: right;
    padding-right: 10px;
    vertical-align: top;
    border-bottom: 0;
    border-top: 0; 
}
td.right.l{
    border-left: 2px solid #000;
}
td.iraqwar.top.border {
    width: 145px;
}
.partyid3 {
    text-align: center;
    width: 195px;
}

